.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 90%;
  max-width: 1110px;
  margin: auto;
}

.body-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  flex-grow: 1;
}
.heading {
  font-family: 'roboto';
  font-size: 70px;
  font-weight: bold;
  color: white;
  width: 60%;
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.para {
  font-family: 'roboto';
  font-size: 25px;
  font-weight: 400;
  color: white;
  width: 60%;
  margin-left: 50px;
  margin-top: 15px;
  line-height: 1.5;
}
.find-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 2px;
  width: 120px;
  background-color: #0b69ff;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 50px;
}
